<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"> <i class="far fa-moon"></i>ocktails  <i class="fas fa-cocktail"></i></span>
  <p><%= link_to 'Make new Cocktails', new_cocktail_path, class: 'button' %></p>
</nav>
<div class="container-main">
  <span id="banner-typed-text"></span>
  <div class='cards'>
    <% @cocktails.each do |cocktail| %>

      <div class="card-individual">
        <div class="card-body">
          <%= link_to cl_image_tag(cocktail.photo.key, width: 250 ), cocktail_path(cocktail) %>
        </div>
        <div class="card-body">
          <h3><%= cocktail.name %></h3>
          <p class="card-text"> <%= cocktail.description %></p>
        </div>
        <div class="card-body2">
          <%= link_to 'See Details', cocktail_path(cocktail), class: 'button' %>
        </div>

      </div>
    <% end %>

  </div>
</div>
