<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"> <i class="far fa-moon"></i>ocktails  <i class="fas fa-cocktail"></i></span>
  <p><%= link_to 'Back to Main', cocktails_path, class: 'button' %></p>
</nav>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(http://res.cloudinary.com/dolfny7hf/image/upload/<%= @cocktail.photo.key %>)">
  <h1><%= @cocktail.name %></h1>
</div>
<div class='container-show'>
<div class='card'>
  <p>Name: <%= @cocktail.name %></p>
  <p>Description: <%= @cocktail.description %></p>
  <p><%= cl_image_tag @cocktail.photo.key, width: 250 %></p>
</div>
<div class='card'>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %>
      <%= Ingredient.find(dose.ingredient_id).name %>
      <%= link_to 'delete', cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure you would like to delete?" } %></li>
    <% end %>
  </ul>
  <p><%= link_to 'Add an Ingredient', new_cocktail_dose_path(@cocktail), class: 'button' %> </p>
</div>
</div>
