<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <span> <i class="far fa-moon"></i>ocktails  <i class="fas fa-cocktail"></i></span>
      <p><%= link_to 'Make new Cocktails', new_cocktail_path, class: 'button' %> <%= link_to 'Back to Main', cocktails_path, class: 'button' %></p>
    </nav>
    <%= yield %>
  </body>
</html>
